/* 
    Document   : main
    Created on : Jun 16, 2014, 11:55:32 AM
    Author     : ahmet
    Description:
        Purpose of the stylesheet follows.
*/

/*
    PAGE STYLE OVERRIDES
*/

.featured {
    padding: 48px;
    color: inherit;
    background-color: transparent;
}

.featured .container {
    max-width: 100%;
}

.overlay-header {
    margin-bottom: 30px;
    text-align: center;
}
.overlay-header-header-topic {
    text-transform: uppercase;
}

/*
    Register Form
*/
#apply{
    font-size: 14px;
    font-weight: normal;
}
