/* 
    Document   : main
    Created on : Jun 16, 2014, 11:55:32 AM
    Author     : ahmet
    Description:
        Purpose of the stylesheet follows.
*/

/*
    PAGE STYLE OVERRIDES
*/

.featured {
    padding: 48px;
    color: inherit;
    background-color: transparent;
}

.featured .container {
    max-width: 100%;
}

.overlay-header {
    margin-bottom: 30px;
    text-align: center;
}
.overlay-header-header-topic {
    text-transform: uppercase;
}

/* CUSTOM */
.registration-form{
    background: #fff;
    padding: 0px 11px;
    border: 1px solid #ddd;
    color: #3c4a52;
}

.registration-form .h4{
    font-size: 24px;
    line-height: 1.6;
    font-weight: 500;
    margin: .2em 0 .6em;
    color: #3c4a52;

}

.registration-form label{
}

.vpos_detail{

}

.vpos{
    display: block;
    padding: 14.5px;
    margin: 0 0 15px;
    font-size: 15px;
    line-height: 1.9;
    word-break: break-all;
    word-wrap: break-word;
    color: #3c4a52;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 400px;
}

